
<div class="card">
  <div [cardImage]="entry.card" class="background"></div>
  <div class="information">
    <div class="name">{{entry.card.name}}</div>
    <div class="properties">
      <mana-cost *ngFor="let image of entry.card.manaCost" class="mana-symbol" [src]="image" ></mana-cost>
    </div>
  </div>
  <div class="controls">
      <button mat-icon-button  (click)="remove()">
          <mat-icon>delete</mat-icon>
        </button>
      <input class="quantity" [cardQuantity]="entry.card" [(ngModel)]="entry.quantity" type="number"/>
    </div>
</div>