.deckbox {
    height: 700px;
    width : 100%;
    &.empty{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fafafa;
        color: gray;
    }
}

.card-wrapper {
    display: flex;
}

@media (max-width: 760px){
    .empty {
      height: 150px;
    }
  }