
<mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile class="box-wrapper"  [colspan]="2" [rowspan]="2">
        <div id="searchBox">
            <cardSearchBox (selected)="addCard($event)"></cardSearchBox>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="box-wrapper" [colspan]="2" [rowspan]="16">
        <div class="deck-wrapper">
            <decklist [entries]="deck.$entries" (remove)="removeEntry($event)"></decklist>
            <div>
                <div id="control-panel">
                    <button mat-raised-button color="primary" >save</button>
                </div>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="13">
        <mass-import (importer)="import($event)" class="mass-import" ></mass-import>
    </mat-grid-tile>
</mat-grid-list>